body {background-color: #a2426d;}
h1{color: #6da241; font-family:Arial Black ; font-size: 30px;}
p{color: #6da241; font-family: Arial Black; font-size: 15px; text-decoration: underline;}
a{color: #6da241; font-family: sans-serif; font-size: 15px;}
img{border-style: double; border-width: 10px; border-color: #416da2;}
p2{color: white;}